
/*-- Header & Navigation -- */
header {
  display: flex;
  justify-content: space-between;
}

.l-title {
    color: #2a64f8;
}
.l-logo {
    background: #2a64f8;
    width: 155px;
    height: 83px;


}
.l-logo p {
    font-family: 'Playfair Display' sans-serif;
    color: #fff;
    font-size: 1.75rem;
    line-height: 18px;
    letter-spacing: 1px;
    padding: 14px;
}

.l-logo a:hover {
    text-decoration: none;
    color: #fff;
}

/* Basic Flexbox & Grid Elements  */
.flex-container {
    display:flex;
    flex-wrap: wrap;
}
.flex-container-col {
    display: flex;
    flex-flow: column;
}
.l-grid-container {
    display: grid;
    grid-template-columns: auto 160px 160px 160px 160px auto;
    grid-template-rows: 160px 160px 160px 160px 160px 160px 160px;
}


/* Flex-Box Navbar (NB) 
with brand on left and links on right */
.l-nb-f {
    display: flex;
    flex-wrap: wrap;
}
.l-nb-item {
    flex: 1 0 auto;
}
.l-nb-start {
    align-self: stretch;
}
.l-nb-link-container {
    margin-left: auto;
    align-self: flex-end;
    display: flex;
}
.l-nb-link-container a {
    flex: 2 0 auto;
    padding:  1.25rem 1.125rem 0.625rem 1.125rem ; /* 18px */
}

/* popout menu */


/* Grid Containter Feature Content (FC)  */
.l-grid-1{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    z-index: 5;
}
.l-grid-2 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    z-index: 2;
}
.l-grid-3 {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 7;
}

/* Slider */
.slider-container {
  position: relative;
  overflow: hidden;
  max-width: 640px;
  width: 100%;
  height: 480px;
}
.slider-container div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 20px;
  left: 0;
  transition: transform 0.3s ease;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  z-index: 0;
}

.slider-container div:first-child {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.slider-container div:nth-of-type(1) {
  background-color: #f06868;
}

.slider-container div:nth-of-type(2) {
  background-color: #fab57a;
}

.slider-container div:nth-of-type(3) {
  background-color: #80d6ff;
}

.slider-container div:nth-of-type(4) {
  background-color: #83B764;
}

/* Footer (fo) */
.l-fo-link {
    margin: 36px 0 24px 0;
}
.l-fo-link a {
    font-size: 1.125rem;
    line-height: 25.2px;
    color: #040054;
}

footer a {
  position: relative;
  display: inline;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}
footer a:hover {
  color: #fff;
  text-decoration: none;
}

footer a:before, a:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -2px;
  background: #fff;
}
footer a:before {
  left: 0;
}

footer a:after {
  left: 0;
  background: #fff;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

footer a:hover:before {
  background: #fff;
  width: 5%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36,1);
}

footer a:hover:after {
  background: transparent;
  width: 5%;
  transition: 0s;
}