/* =================================
  Base Styles
==================================== */
* {
  box-sizing: border-box;
}

body {
	line-height: 1.6;
	color: #000;
  background: #fff;
}
p {
  font-size: .95em;
  margin-bottom: 1.5em;
  font-family: Times;
}

h1
h2
h3
a
 {
  color: #2a64f8;
  font-family: 'Playfair Display' sans-serif;
}

h2
h3 {
  margin-top: 0;
}

a {
	text-decoration: none;
}

i {
  color: #2a64f8;
}

/* =================================
Layout Styles
==================================== */

/*-- Navigation -- */
.main-header {
  padding-top: 1.5em;
  margin-bottom: 30px;
  border-bottom: dashed #2a64f8 2px;
}

.name {
  font-size: 3.25em;
  letter-spacing: .2rem;
}

.name, .main-nav li {
  text-align: center;
  margin: 0 auto;
  display: inline-block;
}

.main-nav a {
  font-size:.95em;
  color: #2a64f8;
  text-transform: uppercase;
}
.main-nav a i {
  font-size: 1.5rem;
}
.main-nav a:hover, .main-nav a i:hover {
  color: #7323ce;
}
a:visited {
  color: #2a64f8;
}
.name a, .main-nav a {
  padding: 10px 15px;
}

/*-- Column --*/

.container {
  padding: 1em;
}


/* ---- Footer ---- */
.main-footer {
  text-align:center;
	padding: 2em 0;
}

/* ---- Page Elements ---- */
.bg-image {
  max-width: 100%;
}

/* =================================
Media Queries
==================================== */
@media (min-width: 769px) {
  .wrap {
    min-height: calc(100vh - 89px);
  }
  .container {
    width: 80%;
    max-width: 1150px;
    margin: 0 auto;
  }
  .name,
  .main-nav,
  .main-nav li {
    display: inline-block;
  }

  .name {
    width: 240px;
    margin-right: 50px;
  }

  .main-nav li {
    margin-right: 12px;
  }

  .col {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: top;
    padding: 0 1em 0 1em;
  }
}
