/* =================================
  Base Styles
==================================== */
* {
  box-sizing: border-box;
}

body {
	line-height: 1.6;
	color: #000;
  background: #fff;
}
p {
  font-size: .95em;
  margin-bottom: 1.5em;
  font-family: Times;
}

h1
h2
h3
a
 {
  color: #2a64f8;
  font-family: 'Playfair Display' sans-serif;
}

h2
h3 {
  margin-top: 0;
}

a {
	text-decoration: none;
}

i {
  color: #2a64f8;
}
img {
  max-width: 100%;
}


/* =================================
Layout Styles
==================================== */

/*-- Navigation -- */
.main-header {
  padding: 0 0 15px 5%;
  margin-bottom: 15px;
  border-bottom: dashed #2a64f8 2px;
  vertical-align: baseline;
}

.name {
  font-size: 1.95rem;
  letter-spacing: .2rem;
  max-width: 240px;
  margin: 0;
  text-align: left;
  display: inline-block;
}

.name a {
  padding: 0 5%;
}

.main-nav {
  padding: 0;
  display: inline;
}

.main-nav li {
  text-align: center;
  display: inline-block;
  padding: 0 5%;
}

.main-nav a {
  font-size: .95em;
  color: #2a64f8;
  text-transform: uppercase;
}
.main-nav a i {
  font-size: 1.5em;
}
.main-nav a:hover, .main-nav a i:hover {
  color: red;
}
a:visited {
  color: #2a64f8;
}


/*-- layout containers --*/

.banner {
  color: #fff;
  background: #2a64f8;
  padding: 2.5% 0 0 0;
  margin-bottom: 15px;
}

.container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 10px;
  border: solid #2a64f8 2px;
}
.main-footer {
  text-align:center;
	padding: 2em 0;
}

/* ---- Page Elements---- */
.logo {
  min-width: 20%;
  max-width: 125px;
  display: inline-block;
  padding: 0 5%;
}
.headline {
  display: inline-block;
  padding: 0 5%;
}
#tagline {
  margin-bottom: 15px;
  font-style: italic;
}


/* =================================
Media Queries
==================================== */
@media (min-width: 769px) {
  .wrap {
    min-height: calc(100vh - 89px);
  }

  .name
  .main-nav li {
    display: inline-block;
  }

  .col {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: top;
    padding: 0 1em 0 1em;
  }
}
